@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: #282a36;
}

p {
  margin: 15px 0;
  line-height: 1.8;
  color: #f8f8f2;
}

a {
  text-decoration: none;
  color: #ff79c6;
}

title {
  color: #ff79c6;
}

h1 {
  margin: 15px 0px;
}

h2 {
  color: #ff79c6;
}

h1,
h3,
h4,
h5 {
  color: #8be9fd;
}

img {
  width: 100%;
  border-radius: 10px;
}

header {
  background: inherit;
  color: #f8f8f2;
  padding: 5px;
  border-bottom: 1px solid #44475a;
}

header a {
  color: #f8f8f2;
}

.footer {
  border-top: 1px solid #44475a;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-icons a {
  padding: 0px 10px;
}

.footer-icon {
  width: 30px;
  height: 30px;
}

.container.footer-content {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1280px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

.btn {
  display: inline-block;
  background: #bd93f9;
  color: #f8f8f2;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-back {
  background: #ffb86c;
  color: #000;
  margin-bottom: 20px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.card {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #f8f8f2;
}

.card-page {
  padding: 15px 30px;
}
.card-image {
  height: 350px;
  max-height: 350px;
}

.post-title {
  margin: 10px 0;
}

.post-date {
  background: #282a36;
  margin-bottom: 20px;
  padding: 10px 0px;
  color: #6272a4;
}

.post-body ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
}

.post-body pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

.spacer {
  height: 60px;
}

@media (max-width: 500px) {
  .posts {
    grid-template-columns: 1fr;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-icons {
    justify-content: center;
    padding: 15px 0px;
  }
}
